body {
    text-align: center;
}

img {
    width: 500px;
    height: 500px;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 20px;
}

#Mary {
    background: linear-gradient(#19769e 0%, #199e69 100%)
}

#Tui {
    background: linear-gradient(#db1a61 0%, #8c24ed 100%)
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
