body {
    text-align: center;
}

.authors {
    width: 550px;
    height: 550px;
    border-color: black;
    transition: transform .2s;
}

.authors:hover {
    transform: scale(0.9);
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: fixed;
    width: 100%;
    top: 0px;
    margin-top: 0px;
    z-index: 10px;
    background: white;
    color: darkblue;
}

.links {
    padding-left: 35px;
    padding-right: 25px;
    display: inline;
    font-family: cursive;
    font-size: 21px;
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

a {
    color: darkslateblue;
    text-decoration: none;
    text-shadow: 2px 2px gainsboro;
}

#title {
    font-size: 40px;
    color: white;
    font-family: 'Shadows Into Light', cursive
}

#profile {
    height: 350px;
    width: 350px;
    border-radius: 15%;
    margin-top: 30px;
}

#welcome {
    background: linear-gradient(#ffe72e 0%, #eb7317 50%, #c91818 100%);
}

.article {
    text-shadow: none !important;
    text-decoration: underline !important;
    color: blue !important;
    
}

.article:hover {
    color: aquamarine;
}

p {
    font-size: 20px;
    font-family: 'Spectral', serif;
}

#contacts {
    background: #FFAB91;
}

.contacts_info a{
    text-shadow: none;
    color: darkslateblue;
}

.contacts_info h3{
    display: inline;
}

html {
    scroll-behavior: smooth;
}
